<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>
    
    <div class="container">

        <div class="banner">
            <h1>Edit User {{id_html}}</h1>
            <a href="/users">Home</a>
        </div>

    </div>

    <div class="edit-fields">
        <form action="/process-edit-user/{{id_html}}" method="post">
            <p>First Name:</p>
            <input type="text" name="fname" id="fname" value="{{user_html['first_name']}}">
            <p>Last Name:</p>
            <input type="text" name="lname" id="lname" value="{{user_html['last_name']}}">
            <p>Email:</p>
            <input type="text" name="email" id="email" value="{{user_html['email']}}">
            <input type="submit" value="Update">
        </form>

        <a href="/users/{{id_html}}">Show User</a>

    </div>


</body>
</html>